# Today Topics
 - identifiers
 - conditions 
 - iterating statement
 - functons

## Identitifer
-  A name given to the variable
- Naming convention

In [2]:
first =10

In [3]:
first

10

In [ ]:
first_hari=222
print =(first_hari)

#### conditon statement
- if 
   - **syntaX**
     -IF CONDITION:
       -STAEMENT GOES HERE
- else
   - condition can ignore here
   - means if not possible ,then go for else
   - ** syntax**
     - else 
       -statement
- elif
   -

In [9]:
#python program to read a  number from and print if it is even
a= int(input("enter a number="))
print("your number is = ",a)

if a%2==0:
   print("it is a even")

enter a number=2
your number is =  2
it is a even

In [3]:
#python program to read a  number from and print if it is even OR odd
a= int(input("enter a number="))
print("your number is = ",a)

if a%2==0:
   print("it is a even")
else:
    print ('it is odd')

enter a number=12
your number is =  12
it is a even

In [15]:
# program to check the larger number among three numbers
a= int(input("enter a 1 number="))
b= int(input("enter a 2  number="))
c= int(input("enter a  3 number="))
if a==b==c:
    if a==0 and b==0 and c==0:
        print ("zeero")
    else:
        print("same")
elif a>b and a>c:
    print('a')
elif b>a and b>c:
    print("b")
else:
    print("c")

enter a 1 number=10
enter a 2  number=10
enter a  3 number=10
same

#### Nested if
 - if block eithin if condition

#### nested if
- if block with in if condition
- syntax
   - if condition
     - if conditon 
       - statement
     - else
        - statement
   - else

In [13]:
# if n is +ve integer and multiple of 3 and 7 but not 5
# then print yes
x = int(input())
if x>0:
    if (x%3==0 and x%7==0) and x%5 !=0:
        print("it is divided by 3 and 7")
elif x<0:
    print ("less than 0")
else:
    print ("zero")

0
zero

In [18]:
# check weather a number is leap year
# all centeries are not leap years
year=int(input("enter ur yaer"))
if (year%400==0) or (year%4==0 and year%100 !=0):
    print("laep year")
else :
    print ("nota leap yaer")

enter ur yaer2000
laep year

#### operators
    - A thing which performs an operation between oerands
      - Ex:a+b:
          -a,b are operands +is the op's perform the **addition**
    - types of operators
      - arthematic
         - -+*/,//,** %
      - boolesan
         - true/false
      - logical 
         - and,or,not
      - relationl/comparisional
         - <,>,<=,>=,==,!=
      - assignment
         - -=, +=,/=,*=
      - identity **for memory**
         - is ,is not
      - membership 
         - in,not,in

In [20]:
#idenity operators 
a="kits 000"
b="kits 000"
print (id(a))
print (id(b))

2366392890544
2366392890608

In [22]:
# member op's
name ="hari"
print ("a"in name)

True

In [26]:
# ASSIGNMENT OP'S
a=30
a += 10 
print(a)
b=13
b -= 13
print(b)

40
0

#### lterating staements
- iteration means repeation of statement
- 2 types
   - ** for and while**
   -

In [27]:
#printing the numbers for 1 to 10
a= int(input("enter a number= "))
for a in range(1,10):
    print (a)

enter a number= 2
1
2
3
4
5
6
7
8
9

In [34]:
# icrement
for num in range(20,50,3):
     print(num,end=" ")

20 23 26 29 32 35 38 41 44 47

In [37]:
# decrement 
for num in range(100,10,-3):
     print(num,end=",")

100,97,94,91,88,85,82,79,76,73,70,67,64,61,58,55,52,49,46,43,40,37,34,31,28,25,22,19,16,13,

In [38]:
# ending value
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
for ch in "kkr&ksr":
    print(ch,end="''")

k''k''r''&''k''s''r''

In [46]:
clg ="kkr&ksr"
for i in range(len(clg)):
    print(i,clg[i],sep="=")

0=k
1=k
2=r
3=&
4=k
5=s
6=r

In [54]:
#program to print leap uyear
#present betweem 2000 to 2030
x =int(input("enter start ="))
y =int(input("end year="))
for i in range(x,y):
    if (i%400==0) or (i%4==0 and i%100 !=0):
        print("laep year",i)
    else:
        print("not a leap year",i)

enter start =2000
end year=2010
laep year 2000
not a leap year 2001
not a leap year 2002
not a leap year 2003
laep year 2004
not a leap year 2005
not a leap year 2006
not a leap year 2007
laep year 2008
not a leap year 2009

In [55]:
#program to print leap uyear
#present betweem 2000 to 2030
x =int(input("enter start ="))
y =int(input("end year="))
for i in range(x,y):
    if (i%400==0) or (i%4==0 and i%100 !=0):
        print("laep year",i)

enter start =2000
end year=2030
laep year 2000
laep year 2004
laep year 2008
laep year 2012
laep year 2016
laep year 2020
laep year 2024
laep year 2028

In [ ]:
# number of factors
n=int(input("enter the number="))
for i in range(1,n+1):
    if (n%i==0):
        print(i,end=",")

In [29]:
# A NUMBER is prime or not
num = int(input("enter a  number"))
for i in range(2,num+1):
    if(num%i==0):#12
        if( i==num):
            print("prime")
        else:
            print("not a prime")
        break

enter a  number13
prime

In [39]:
# program to check weather the given no is prime or not
pr=int(input("enter a number="))
factor =0
for num in range(2,pr+1):
    if pr%num ==0:
        factor +=1

enter a number=12
prime 1
not prime
not prime
not prime
not prime
not prime
not prime
not prime
not prime
not prime
not prime

In [2]:
# list of prime number
for num in range(2,100):
    for i in range(2,num+1):
        if(num%i==0):#12
            if( i==num):
                print("prime",i)
            else:
                continue

prime 2
prime 3
prime 4
prime 5
prime 6
prime 7
prime 8
prime 9
prime 10
prime 11
prime 12
prime 13
prime 14
prime 15
prime 16
prime 17
prime 18
prime 19
prime 20
prime 21
prime 22
prime 23
prime 24
prime 25
prime 26
prime 27
prime 28
prime 29
prime 30
prime 31
prime 32
prime 33
prime 34
prime 35
prime 36
prime 37
prime 38
prime 39
prime 40
prime 41
prime 42
prime 43
prime 44
prime 45
prime 46
prime 47
prime 48
prime 49
prime 50
prime 51
prime 52
prime 53
prime 54
prime 55
prime 56
prime 57
prime 58
prime 59
prime 60
prime 61
prime 62
prime 63
prime 64
prime 65
prime 66
prime 67
prime 68
prime 69
prime 70
prime 71
prime 72
prime 73
prime 74
prime 75
prime 76
prime 77
prime 78
prime 79
prime 80
prime 81
prime 82
prime 83
prime 84
prime 85
prime 86
prime 87
prime 88
prime 89
prime 90
prime 91
prime 92
prime 93
prime 94
prime 95
prime 96
prime 97
prime 98
prime 99

#### while loop
- It is a condition based iteration
- user incrementation
- **syntax**
  - while condition
     - staement goes here

In [45]:
# print the numbers in a range using while loop
num=1
n=int(input("enter number="))
while num<=n:
    print(num,end=" ,")
    num+=1

enter number=10
1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,

#### strings
- combination of character
positive indexing
negitive indexing

In [48]:
s=""
type(s)

str

In [57]:
s ="kits murahari"
print(s[3])     
print(s[:4])     
print(s[3:10:3])
print(s[-1:-10:11])# empty string  
print(s[-1:-10:-1])
print(s[::-1])

s
kits
suh

iraharum
iraharum stik

In [61]:
s =input("enter a name =")
if s==s[::-1]:
    print("palandrom")
else:
    print ("no")

enter a name =101
palandrom

In [63]:
s =input("enter a name =")
x=len(s)
if x%2==0:
    print(s[])

enter a name =miuyarauh
4.5

In [6]:
n = "kits 123"
for i in n:
    if i=="1":
        print(i)
    elif i=="2":
        print(i)
    elif i=="3":
        print(i)

1
2
3

In [8]:
for i in n:
    if i.isdigit():
        print(i)

1
2
3

In [9]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
c="KiTS"
c.lower()

'kits'

In [11]:
c.casefold()

'kits'

In [14]:
c.upper()

'KITS'

In [15]:
c.swapcase()

'kits'

In [17]:
s= "kits @ COLLAGE"

In [20]:
for i  in s:
    if i.islower():
        print(i,end="")

kits

In [23]:
p=s+"12121000"

In [22]:
s

'kits @ COLLAGE'

In [25]:
st=input().split( )# llist o f chararacters
print(st)

25000jhgfdsas
['25000jhgfdsas']

In [ ]:
st=input()
print(s)

In [ ]:
s.isdigit()

In [2]:
vowels="aeiouAEIOU"
char=input()
if char in vowels:
    print("vowel")
else:
    print("consonant")

lkkdsnhjjsjnb a
consonant